# Sensitive files
.env
zones/*.yaml

# RunNotes
notes.txt
notes.md

# Local AI assistant files
.claude/
CLAUDE.md

# Python cache files
__pycache__/
*.py[cod]
*$py.class

#reports
reports/

# MISC
.DS_Store